<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Data Scientists Languages are:
1. Python
2. R
3. Julia
4. Scala
5. PowerBI

Data Scientists Libraries are:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow

Data Science Tools|
----------------------------|
Jupyter Notebook|
RStudio
Python
Visual Studio Code
Spyder
Orange

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## Dispaly the String Message
"This a simple arithmetic expression to mutiply then add integers"

'This a simple arithmetic expression to mutiply then add integers'

In [3]:
(3*4)+5

17

In [4]:
## Display the String Message
"This will convert 200 minutes to hours by diving by 60."

'This will convert 200 minutes to hours by diving by 60.'

In [5]:
# Number of minutes
minutes = 200

# Convert to hours
hours = minutes / 60

print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

List popular languages for Data Science:
* Python
* R
* Julia
* Scala
* PowerBI

## Author
A.Syed Ali Nawaskhan